{% extends 'base.html' %}

{% block title %}Tambah Penulis{% endblock %}

{% block body %}

<h3>Tambah Penulis</h3>

<form action="" method="post">

  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field.errors }}
  {{ hidden_field }}
  {% endfor %}

  {% csrf_token  %}

  {{ form.non_form_errors }}

  {% for field in form %}
  {{ field.errors }}
  {{ field.label_tag }} {{ field }}
  {% if field.help_text %}
  <p class="help">{{ field.help_text|safe }}</p>
  {% endif %}
  {% endfor %}

  <p class="pt-2">
    <button type="submit" name="button" class="btn btn-primary w-100 mb-2"> Tambah Penulis</button>
    <a href="{% url 'app:home' %}" role="button" class="btn btn-secondary w-100">Cancel</a>
  </p>
</form>

{% endblock %}